<c-card class="mb-4">
    <c-card-header>
      <h2 class="card-title mb-0" id="about">About this site</h2>
    </c-card-header>
    <c-card-body>
        <p cCardText>
            This site makes temperature predictions for each hour of a particular day in Washington D.C. based on the hourly weather data for the previous 7 days. 
            For each day, predictions are made for the next 24 hours starting at 00:00 am of the target date by using data of the last 168 hours (last 7 days). The graph shows the comparision between the temperatures predicted by the model vs the actual hourly temperatures for that particular day.
        </p>
        <p cCardText>
                The model was trained on 20 years of historical hourly data of the Ronald Reagan National Airport acquired from the <strong>api.weather.com</strong> API (the same one used by <a href="https://wunderground.com" target="_blank">Wunderground</a>.
        </p>
        <p cCardText>
            Any feedback on the project is appreciated. Please feel free to reach out to me at <a href = "mailto: sushantkarkiii@gmail.com">sushantkarkiii@gmail.com</a>.
        </p>
    </c-card-body>
</c-card>
